@import "../../scss/variables", "../../scss/mixins";
.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: $cardNavBgColor;
  a {
    color: white;
    font-size: 1.7rem;
    text-decoration: none;
    padding: 1rem;
    &:hover {
      background-color: $backgroundColor;
      color: $cardNavBgColor;
    }
  }
}
@include media-xsm {
  .navbar {
    flex-direction: column;
    text-align: center;
  }
}
@include media-sm {
  .navbar {
    flex-direction: row;
  }
}
